@charset "UTF-8";

/* setting general properties */
body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    margin: 0;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Landing Section */
.landing {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}


.landing .shop-button {
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    border: none;
    cursor:pointer;
}

.filter-section {
    margin-left: 200px;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    gap: 20px; /* space between the products */
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.product {
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product .img-container img {
    max-width: 150px;
    height: auto;
    border-radius: 15%;
    box-shadow: 5px 5px 10px rgb(190, 181, 181), -5px 5px 10px rgb(190, 181, 181);
}

.product .img-container img:hover {
    transform: scale(1.3);
}

.product .content {
    flex-grow: 1;
    padding-left: 20px;
}

.product .cart_logo {
    cursor: pointer;
}

.product-grid .product .content .cart_logo {
    padding: 10px 20px;
}

/* items and services*/
.item-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.item-section .items, .item-section .services {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.item-section .items img, .item-section .services img {
    max-width: 250px;
    height: auto;
    border-radius: 15%;
    border: 3px solid silver;
    box-shadow: 8px 8px 15px silver, -8px 8px 15px silver;
    filter: grayscale(100%);
}

.item-section .services img:hover {
    transform:scale(1.2);
    filter: grayscale(0%);
}

.item-section .items img:hover {
    transform:scale(1.2);
    filter: grayscale(0%);
}

.item-section .items div, .item-section .services div {
    text-align: center;
    width: 45%;
}

#shop-icon {
    position: relative;
    top: 10px; /* lower shop icon */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    padding: 0; /* to align the contents with their headers*/
}

footer li {
    margin-bottom: 5px; /*spacing between the content*/
}


